@import url('https://fonts.googleapis.com/css2?family=Delius&family=Poetsen+One&display=swap');

body {
  background-image: url("https://cdn.glitch.global/c143d6ea-00cc-43cd-a46e-ceed46d252d3/902fb683da6e99129aa43990f81607cd.gif?v=1741364810584");
  text-align: center;
  margin: auto;
   font-family: "Poetsen One", serif;
}

h1{
  font-size: 30px;
  color: white;
}

#myCanvas {
  background-size: 600px 400px;
  border-radius: 60px;
  border: 5px solid darkblue;
}



